<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/js/db-ajax.js"></script>
    <script src="/js/main.js"></script>
    <title>Note Board</title>
</head>
<body>
    <header>
        <button type="button" class="add btn btn-primary">Create New Note</button>
    </header>
    <main>
        <div id="welcomeMsg">
            <h3>Welcome to my app!</h3>
            <p>
                Click the Button on the Left to create a new note.<br>
                Note can dragged anywhere on the screen.<br>
                Click the note to edit note.<br>
                Notes' color are randomly generated with guarantee that no consecutively generated notes have the same color.<br>
                The app has persistent data storage. Try create/edit some notes and refreshing the page!
            </p>
        </div>
        <div id="overlay">
            <form id="overlay-form" class="form" action="#">
                <label for="form-noteTitle">Title:</label>
                <input id="form-noteTitle" type="text" name="form-noteTitle"><br>
                <label for="form-noteContent">Message:</label>
                <textarea id="form-noteContent" name="form-noteContent"></textarea><br>
                <div class="form-button">
                    <button type="button" class="submit btn btn-success">Submit</button>
                    <button type="button" class="cancel btn btn-warning">Cancel</button><br>
                    <button type="button" class="remove btn btn-danger">Remove Note</button>
                </div>
            </form>
        </div>
        {{#each data}}
        <div id="note{{noteId}}" class="note ui-draggable ui-draggable-handle"
style="background-color: {{noteBackgroundColor}}; top: {{noteY}}; left: {{noteX}};">
            <h4 id="note{{noteId}}-title" class="noteTitle">{{noteTitle}}</h4>
            <div id="note{{noteId}}-content" class="noteContent">{{noteContent}}</div>
        </div>
        {{/each}}
    </main>
</body>
</html>